*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    position: relative;

}
.header-section{
    width: 100%;
    height: 10vh;
}

.body-section{
    width: 100%;
    min-height: 50vh;
    max-height: auto;
}
.product-img {
    max-width: 100%;
    height: 15rem;
}

.footer-section{
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 40vh;
    max-height: auto;

}
